<header>
  <odn-toolbar>
    <div class="nav-bar">
      <div class="logo w-50">
        <a routerLink="/" class="link">Odinson</a>
      </div>
      <nav class="links w-50">
        <button odnGhostButton color="primary" class="w-15 mx-auto" routerLink="/docs">Docs</button>
        <button odnGhostButton color="primary" class="w-15 mx-auto">Features</button>
        <button odnGhostButton color="primary" class="w-15 mx-auto">Guides</button>
        <button odnGhostButton color="primary" class="w-15 mx-auto">Github</button>
        <button odnGhostButton color="primary" class="w-15 mx-auto">NPM</button>
      </nav>
    </div>
  </odn-toolbar>
</header>
