/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import "../../../projects/ng-odinson/src/lib/scss/odinson";

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
