<div class="mt-4">
  <odn-panel height="50" width="95" color="secondary" [menuItems]="panelMenuItems">
    <odn-panel-header>
      <h2>Welcome to NgOdinson</h2>
    </odn-panel-header>
    <odn-panel-body>
      <p>
        NgOdinson is a set of unopinionated styled Angular components and directives.
        It was designed to remove the boilerplate while still allowing you (the developer) to
        hold full creative control of your components' styling.
      </p>
      <br>
      <p>
        Lorem ipsum dolor sit amet, eu vim dico repudiare, nam blandit honestatis ea.
        An mundi ornatus fastidii mel, stet graeco explicari ei pri. Usu ad tale homero.
        Eu omittantur definitionem pri. Nobis viderer intellegebat per no. Vero natum scripta cum an.
      </p>
      <br>
      <p>
        Vel no commodo graecis efficiantur. Posse persequeris nec an, est et ipsum iuvaret.
        Nullam tempor perpetua mea ex. Ne diceret aliquam detracto mea, no viderer offendit mea.
        Mei graeci option at. Cu his sapientem instructior interpretaris, sea id eius lucilius definitiones.
        In singulis gloriatur per, sit munere iudicabit ei, in sit elit cibo porro.
      </p>
      <br>
      <p>
        Vel id primis consequuntur, habeo dolorum mea ea, tota graeci labores quo cu.
        Ius odio ridens malorum ea, partem quaeque has id, admodum habemus disputando mel ea.
        Ei mei scaevola repudiandae complectitur, disputando accommodare ei nec. Viris liberavisse et vis,
        cibo mucius nostro ut cum. Mei ea perfecto suscipiantur.
      </p>
      <br>
      <p>
        Vim ne sint sonet dolor, ne sit natum ullum. Adolescens rationibus eam an.
        Sea no singulis pertinacia posidonium, ea liber consulatu nam, an sed sale dolore adipisci.
        Mei novum quando consul id, vim dicam semper reprimique id, eos putant tritani virtute ut.
      </p>
    </odn-panel-body>
  </odn-panel>
</div>
