<header>
  <odn-toolbar>
    <nav class="nav-bar">
      <!--// TODO: replace these with <odn-link>s -->
      <a class="link">Link 1</a>
      <a class="link">Link 2</a>
      <a class="link">Link 3</a>
      <a class="link">Link 4</a>
    </nav>
  </odn-toolbar>
</header>

<div class="content-container">
  <odn-card>
    <odn-card-header>
      <h1 class="text-center">Ng-Odinson</h1>
    </odn-card-header>
    <odn-card-body>
      <div class="main-content">
        <h3>Hello World</h3>
      </div>
    </odn-card-body>
  </odn-card>
</div>
